  .Home-Page {
    display: flex;
    padding: 10px;
    text-transform: uppercase;
    color: #fff;
  }

  .Home-Page ul {
    list-style-type: none;
    text-decoration: none;
  }

  .Shoe-Name {
    font-size: 18px;
    margin: 3vh;
    color:  #e7b920;
  }

  .Home-Page ul li {
    padding: 1vh;
  }

  .Shoe-Image {
    
  }

  