body {
    background-color: #333;
    background: radial-gradient(circle, #444444 0%, #333 25%, #000000 100%)
}
  
  .container {
    display: flex;
    text-transform: uppercase;
    color: #e7b920;
    margin: 5%
  }

  .container .text li {
    color:#ddd;
    list-style-type: none;
    text-decoration: none;
    align-content: center;
    margin: 10px;
  }

  .container .content {
    padding-left: 5%;
    flex-direction: row;
  }