.Store-Page {
    display: flex;
    flex-direction: column;
    width: fit-content;
    margin-left: 3vh;
    margin-top: 10vh;
    color: #ddd;
}

.Store-Page .Header {
    color: #e7b920;
}

.Store-Filter {
    margin-top: 10vh;
    display: flex;
    background-color: #535353;
    align-items: flex-start;
    position: relative;
    flex-direction: column;
}

.Store-Grid {
}