.Store-Page {
    position: relative;
    width: fit-content;
    margin-left: 3vh;
    margin-top: 10vh;
    color: #ddd;
}
.row {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.col {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    width: 95vh;
    flex: 1;
}

.Store-Page .Header {
    color: #e7b920;
}

.Store-Grid {
    display: flex;
    flex-wrap: wrap;
    margin-top: 5vh;
    height: 60vh;
    overflow-y: scroll;
}

.Store-Item {
    display: flex;
    position: relative;
    flex-direction: column;
    background-color: #ddd;
    border-radius: 3vh;
    color: black;
    margin-left: 4vh;
    margin-bottom: 4vh;
    padding: 3vh;
    width: 20vh;
    height: 30vh;
}

.Store-Item img {
    width: auto;
    height: 15vh;
}

.Store-Item button {
    position: absolute;
    justify-content: flex-end;
    width: 40%;
    height: 15%;
    right: 2vh;
    bottom: 2vh;
    border-radius: 2vh;
    background-color: black;
    color: #ddd;
}

.Search-Bar input {
    border-radius: 2vh; 
    background-color: #6b6b6b;
    color: #ddd;
}