.Store-Page {
    display: flex;
    flex-direction: column;
    width: fit-content;
    margin-left: 3vh;
    margin-top: 10vh;
    color: #ddd;
}

.Store-Page .Header {
    color: #e7b920;
}

.Store-Filter {
        display: flex;
        flex-direction: column;
        height: 50vh;
        position: relative;
        margin-top: 5vh;
        padding: 5vh;
        background-color: #535353;
        justify-content: flex-start;
        user-select: none;
        text-transform: uppercase;
}

.Store-Filter input {
    position: absolute;
    opacity: 0;
    cursor: pointer
}

.Store-Filter ul {
    text-transform: capitalize;
    display: none;
}

.Store-Filter ul.show {
    display: inline;
    list-style-type: none;
}

.Store-Filter li {
    display: block;
    margin-left: 1vh;
}

.container {
    position: relative;
    display: block;
}

.customCheck {
    position: absolute;
    top: 0;
    left: 0;
    height: 1vh;
    width: 1vh;
    background-color: #ddd;
}

.Store-Grid {
}