.login{
    border: 3px solid #e7b920;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10vh;
    padding: 8vh;
    width: 57vh;
    border-radius: 2vh;
    display: flex;
    flex-direction: column;
    flex: 1;
}


label{
    color: #e7b920;
    font-size: medium;
}

.loginbar {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: xx-large;
  margin-bottom: 30px;
}




input[type=text], input[type=password] {
    width: 80%;
    padding: 10px 20px;
    margin: 10px 0;
    display:list-item;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }

  button {

    background-color: #103dcf;
    color: white;
    padding: 15px 20px;
    margin-left: auto;
    border: 1px solid black;
    cursor: pointer;
    width: 80%;
  }

  button:hover{
    opacity: 0.6;
  }


.login{
    font-size: 3vh;
    user-select: none;
    color: aqua;
}