.login{
    border: 3px solid #e7b920;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10vh;
    padding: 8vh;
    width: 57vh;
    border-radius: 2vh;
    display: flex;
    flex-direction: column;
    flex: 1;

/*color: #ddd;
display: flex;
justify-content: center;
height: 95vh;
flex: 1;
align-items: center;
*/
}


.login.hide{
    display: none;
}

label{
    color: #e7b920;
}

.loginbar {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: xx-large;
  margin-bottom: 30px;
}

.registerbar{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: xx-large;
  margin-bottom: 30px;
}


input[type=text], input[type=password] {
    width: 80%;
    padding: 10px 20px;
    margin: 10px 0;
    display:list-item;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }

  button {

    background-color: #103dcf;
    color: white;
    padding: 15px 20px;
    margin-left: auto;
    border: 5px solid #015201;
    cursor: pointer;
    width: 80%;
  }

  button:hover{
    opacity: 0.6;
  }


.reg{
    font-size: small;
    user-select: none;
    display:none;
    color:aqua
    
}

.login{
    font-size: small;
    user-select: none;
    color: aqua;
}

.reg.show{
        border: 3px solid #e7b920;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10vh;
        padding: 8vh;
        width: 57vh;
        border-radius: 2vh;
        display: flex;
        flex-direction: column;
        flex: 1;
}