.nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 5vh;
  user-select: none;
}

.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .nav ul a {
    display: flex;
    padding: 10px 20px;
    margin-right: 30px;
    text-decoration: solid;
    text-transform: uppercase;
    color: #ddd;
  }

  .nav li.active a {
    color:#e7b920;
  }

  .nav ul li.menu-btn .sidepanel {
    position: fixed;
    top: 0;
    right: -500px;
    height: 100%;
    width: 500px;
    background-color: #181818;
    transition: right 0.7s ease-out;
    z-index: 999;
  }

  .nav ul li.menu-btn .sidepanel.show {
    right: 0;
  }

  
  .nav ul li.menu-btn .dropdown-menu {
    display: block;
    list-style-type: none;
    margin-left: 10% ;
    padding: 10px;
  }

  .nav ul li.menu-btn .dropdown-menu li {
    display: flex;
    align-items: center;
  }

  .nav ul li.menu-btn .dropdown-menu li:first-child {
    margin-left: 350px;
  }

  .nav ul li.menu-btn .sidepanel a {
    align-items: end;
    color: #ddd;
  }
  
  .nav ul li.menu-btn .sidepanel a {
    margin-bottom: 30px;
    color: #ddd;
  }
  .nav ul li.menu-btn .sidepanel a:hover {
    text-align: end;
    margin-bottom: 30px;
    color: #e7b920;
  }
  
  .nav ul a:hover {
    color: #e7b920;
  }

  .container{
    transition: all 0.7s ease-in-out;
  }

  .container.blur {
    filter: blur(3px);
  }